[flake8]
ignore = 
  E203, E266, E501, W503, E402, E731, C901, B950, B011,
  B014  // does not apply to Python 2
max-line-length = 80
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude=checkouts,lol*,.tox
