*.pyc
*.log
*.egg
*.db
*.pid
.python-version
.coverage*
.DS_Store
.tox
pip-log.txt
*.egg-info
/build
/dist
/dist-serverless
sentry-python-serverless*.zip
.cache
.idea
.eggs
venv
.venv
.vscode/tags
.pytest_cache
.hypothesis
relay
pip-wheel-metadata
.mypy_cache
.vscode/
