*.pyc
*.log
*.egg
*.db
*.pid
.python-version
.coverage*
.DS_Store
.tox
pip-log.txt
*.egg-info
/build
/dist
.cache
.idea
.eggs
venv
.venv
.vscode/tags
.pytest_cache
.hypothesis
semaphore
pip-wheel-metadata
