# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    -   id: trailing-whitespace
    -   id: end-of-file-fixer

-   repo: https://github.com/psf/black
    rev: 24.1.0
    hooks:
    -   id: black
        exclude: ^(.*_pb2.py|.*_pb2_grpc.py)

-   repo: https://github.com/pycqa/flake8
    rev: 5.0.4
    hooks:
    -   id: flake8
        additional_dependencies:
            [
                flake8-pyproject,
                flake8-bugbear,
                pep8-naming,
            ]
# Disabled for now, because it lists a lot of problems.
#-   repo: https://github.com/pre-commit/mirrors-mypy
#    rev: 'v0.931'
#    hooks:
#    -   id: mypy
