language: python
sudo: false

python:
  - "2.7"
  - "pypy"
  - "3.4"
  - "3.5"
  - "3.6"

cache:
  pip: true
  cargo: true

branches:
  only:
    - master
    - /^release\/.+$/

matrix:
  include:
    - python: "3.7"
      dist: xenial
      sudo: true
    - python: "3.8-dev"
      dist: xenial
      sudo: true

    - name: Linting
      python: "3.6"
      install:
        - pip install tox
      script: tox -e linters
    - python: "3.6"
      name: Distribution packages
      install: false
      script: make travis-upload-dist
    - python: "3.6"
      name: Build documentation
      install: false
      script: make travis-upload-docs
    - # The OS X VM doesn't have any Python support at all
      # See https://github.com/travis-ci/travis-ci/issues/2312
      os: osx
      name: OS X Python 2.7
      language: generic
      before_install:
        - HOMEBREW_LOGS=/tmp HOMEBREW_NO_AUTO_UPDATE=yes brew install python@2
        - python2 -m pip install --user virtualenv
        - /Users/travis/Library/Python/2.7/bin/virtualenv $HOME/osx-py
        - source $HOME/osx-py/bin/activate
        - export TRAVIS_PYTHON_VERSION=2.7

install:
  - pip install tox
  - pip install codecov
  - sh scripts/download-semaphore.sh

script:
  - coverage erase
  - ./scripts/runtox.sh '' --cov=sentry_sdk --cov-append --cov-report= --cov-branch
  - codecov

notifications:
  webhooks:
    urls:
      - https://zeus.ci/hooks/7ebb3060-90d8-11e8-aa04-0a580a282e07/public/provider/travis/webhook
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always
