language: python
sudo: false

python:
  - "2.7"
  - "pypy"
  - "3.4"
  - "3.5"
  - "3.6"

cache:
  pip: true
  cargo: true

branches:
  only:
    - master
    - /^release\/.+$/

matrix:
  include:
    - python: "3.7"
      dist: xenial
      sudo: true
    - python: "3.8-dev"
      dist: xenial
      sudo: true

    - name: Linting
      python: "3.6"
      install:
        - pip install tox
      script: tox -e linters
    - python: "3.6"
      name: Distribution packages
      install: false
      script: make travis-upload-dist
    - python: "3.6"
      name: Build documentation
      install: false
      script: make travis-upload-docs

install:
  - pip install tox
  - pip install codecov
  - sh scripts/download-semaphore.sh

script:
  - coverage erase
  - sh scripts/runtox.sh '' --cov --cov-append --cov-report=
  - codecov

notifications:
  webhooks:
    urls:
      - https://zeus.ci/hooks/7ebb3060-90d8-11e8-aa04-0a580a282e07/public/provider/travis/webhook
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always
