language: python
sudo: false

python:
  - "2.7"
  - "pypy"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"

matrix:
  include:
    - python: "3.6"
      script: tox -e linters

install:
  - pip install tox

script:
  - sh scripts/runtox.sh
