language: python

python:
  - "2.7"
  - "pypy"
  - "3.4"
  - "3.5"
  - "3.6"

env:
  - SENTRY_PYTHON_TEST_POSTGRES_USER=postgres SENTRY_PYTHON_TEST_POSTGRES_NAME=travis_ci_test

cache:
  pip: true
  cargo: true

branches:
  only:
    - master
    - /^release\/.+$/

matrix:
  include:
    - python: "3.7"
      dist: xenial

    - python: "3.8"
      dist: xenial

    - name: Linting
      python: "3.8"
      dist: xenial
      install:
        - pip install tox
      script: nox -s linters

    - python: "3.8"
      dist: xenial
      name: Distribution packages
      install: []
      script: make travis-upload-dist

    - python: "3.8"
      dist: xenial
      name: Build documentation
      install: []
      script: make travis-upload-docs

before_script:
  - psql -c 'create database travis_ci_test;' -U postgres
  - psql -c 'create database test_travis_ci_test;' -U postgres

services:
  - postgresql

install:
  - bash scripts/travis-install-nox.sh
  - pip install codecov
  - make install-zeus-cli
  - bash scripts/download-relay.sh

script:
  - coverage erase
  - nox -s travis_test -- --cov=tests --cov=sentry_sdk --cov-report= --cov-branch
  - coverage combine .coverage*
  - coverage xml -i
  - codecov --file coverage.xml
  - '[[ -z "$ZEUS_API_TOKEN" ]] || zeus upload -t "application/x-cobertura+xml" coverage.xml'

notifications:
  webhooks:
    urls:
      - https://zeus.ci/hooks/7ebb3060-90d8-11e8-aa04-0a580a282e07/public/provider/travis/webhook
    on_success: always
    on_failure: always
    on_start: always
    on_cancel: always
    on_error: always
