black==23.7.0
flake8==5.0.4
flake8-bugbear==22.12.6
loguru # There is no separate types module.
mypy==1.4.1
pep8-naming==0.13.2
pre-commit # local linting
pymongo # There is no separate types module.
types-certifi
types-redis
types-setuptools
