pip
pytest>=6.0.0
tomli;python_version<"3.11"  # Only needed for pytest on Python < 3.11
pytest-cov
pytest-forked
pytest-localserver
pytest-watch
jsonschema
pyrsistent
executing
asttokens
responses
pysocks
socksio
httpcore[http2]
setuptools
freezegun
Brotli
docker
