certifi

# In Lambda functions botocore is used, and botocore is not
# yet supporting urllib3 1.27.0 never mind 2+.
# So we pin this here to make our Lambda layer work with
# Lambda Function using Python 3.7+
urllib3<1.27

opentelemetry-distro>=0.35b0
