certifi
urllib3
# In Lambda functions botocore is used, and botocore has
# restrictions on urllib3
# https://github.com/boto/botocore/blob/develop/setup.cfg
# So we pin this here to make our Lambda layer work with
# Lambda Function using Python 3.7+
urllib3<1.27

opentelemetry-distro>=0.35b0
