-r requirements-linting.txt
-r requirements-testing.txt
mockupdb # required by `pymongo` tests that are enabled by `pymongo` from linter requirements
pytest>=6.0.0
tomli;python_version<"3.11"  # Only needed for pytest on Python < 3.11
pytest-asyncio
