pip
pytest>=6.0.0
tomli;python_version<"3.11"  # Only needed for pytest on Python < 3.11
pytest-cov
pytest-forked
pytest-localserver
pytest-watch
jsonschema
pyrsistent
executing
asttokens
responses
pysocks
socksio
httpcore[http2]; python_version < "3.8"
httpcore[http2,asyncio]>=1.0; python_version >= "3.8" # asyncio support only supported for Python 3.8+
setuptools
freezegun
Brotli
docker
