pip
pytest
pytest-cov
pytest-forked
pytest-localserver
pytest-watch
jsonschema
pyrsistent
executing
asttokens
responses
pysocks
socksio
httpcore[http2]
setuptools

# for python 3.13 nogil. dont know why
rpds-py