pytest<7
pytest-forked<=1.4.0
pytest-watch==4.2.0
tox==3.7.0
Werkzeug<2.1.0
pytest-localserver==0.5.0
pytest-cov==2.8.1
jsonschema==4.7.2
pyrsistent==0.16.0 # TODO(py3): 0.17.0 requires python3, see https://github.com/tobgu/pyrsistent/issues/205
mock # for testing under python < 3.3

gevent

executing
asttokens
