hypothesis==3.69.9
pytest==3.7.3
git+https://github.com/untitaker/pytest-forked@forked-marker#egg=pytest-forked
tox==3.7.0
Werkzeug==0.15.3
pytest-localserver==0.4.1
pytest-cov==2.6.0
gevent
eventlet
