  check_required_tests:
    name: All {{ framework }} tests passed or skipped
    {% if py_versions.pinned and py_versions.py27 %}
    needs: [test-pinned, test-py27]
    {% elif py_versions.pinned %}
    needs: test-pinned
    {% elif py_versions.py27 %}
    needs: test-py27
    {% endif %}
    # Always run this, even if a dependent job failed
    if: always()
    runs-on: ubuntu-20.04
    steps:
      - name: Check for failures
        if: contains(needs.test-pinned.result, 'failure')
        run: |
          echo "One of the dependent jobs has failed. You may need to re-run it." && exit 1
      {% if py_versions.py27 %}
      - name: Check for 2.7 failures
        if: contains(needs.test-py27.result, 'failure')
        run: |
          echo "One of the dependent jobs has failed. You may need to re-run it." && exit 1
      {% endif %}
