  check_required_tests:
    name: All {{ group }} tests passed
    needs: [changes, test-{{ group | replace(" ", "_") | lower }}]
    # Always run this, even if a dependent job failed
    if: always()
    runs-on: ubuntu-22.04
    steps:
      - name: Check for failures
        if: |
          needs.changes.result == 'failure' || needs.changes.result == 'cancelled' ||
          needs.test-{{ lowercase_group }}.result == 'failure' || needs.test-{{ lowercase_group }}.result == 'cancelled'
        run: |
          echo "One of the dependent jobs has failed. You may need to re-run it." && exit 1
