name: CI

on:
  push:
    branches:
      - master
      - release/**
      - potel-base

  pull_request:

permissions:
  contents: read

env:
  BUILD_CACHE_KEY: ${{ github.sha }}
  CACHED_BUILD_PATHS: |
    ${{ github.workspace }}/dist-serverless

jobs:
  lint:
    name: Lint Sources
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - run: |
          pip install tox
          tox -e linters

  build_lambda_layer:
    name: Build Package
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12
      - name: Setup build cache
        uses: actions/cache@v5
        id: build_cache
        with:
          path: ${{ env.CACHED_BUILD_PATHS }}
          key: ${{ env.BUILD_CACHE_KEY }}
      - name: Build Packages
        run: |
          echo "Creating directory containing Python SDK Lambda Layer"
          # This will also trigger "make dist" that creates the Python packages
          make aws-lambda-layer
      - name: Upload Python Packages
        uses: actions/upload-artifact@v6
        with:
          name: artifact-build_lambda_layer
          path: |
            dist/*
          if-no-files-found: 'error'

  docs:
    name: Build SDK API Doc
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - run: |
          make apidocs
          cd docs/_build && zip -r gh-pages ./

      - uses: actions/upload-artifact@v6
        with:
          name: artifact-docs
          path: |
            docs/_build/gh-pages.zip
          if-no-files-found: 'error'
