name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release (or "auto")'
        required: false
      force:
        description: Force a release even when there are release-blockers (optional)
        required: false
      merge_target:
        description: Target branch to merge into. Uses the default branch as a fallback (optional)
        required: false

jobs:
  release:
    uses: getsentry/craft/.github/workflows/release.yml@v2
    with:
      version: ${{ github.event.inputs.version || 'auto' }}
      force: ${{ github.event.inputs.force }}
      merge_target: ${{ github.event.inputs.merge_target }}
    secrets: inherit

